@import url("https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap");

:root {
  --backgroundColor: #bfa07894;
  --textShadow: text-shadow:2px 2px #efa300;
  --boxShadow: box-shadow: 4px 4px 40px #ff910088;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Patrick Hand", sans-serif;
}

body {
  font-family: "Patrick Hand", sans-serif;
  padding: 0;
  margin: 0;
  text-shadow:2px 2px #efa300;

}

.display-container {
  display: grid;
  flex-direction: row;
  margin: 20px 20px;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#name {
  text-decoration-line: underline;
  border: 5px solid rgb(255, 246, 207);
  border-radius: 1.5rem;
  position: relative;
  align-content: center;
  margin: 30px 0px;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 4.5rem;
  color: rgb(255, 246, 207);
  filter: drop-shadow(0px 20px 40px rgba(0, 0, 0, 0.293));
  background-color: var(--backgroundColor);
}

.input input[type="text"] {
  background-color: var(--backgroundColor);
  width: 350px;
  height: 80px;
  text-align: center;
  border-radius: 1.5rem;
  backdrop-filter: blur(6px);
  color: white;
  font-size: 1.5rem;
  text-transform: uppercase;
  border: none;
  transition: ease 0.3s;
  border: #f3f1ba solid 4px;
  text-shadow: var(--textShadow);
  box-shadow: 4px 4px 40px #ff910088;
}
.input input[type="text"]:focus {
  background-color: #f59e48c7;
  outline: none;
}
.input input[type="text"]:hover {
  background-color: #ffc282c7;
  outline: none;
}
.input input::placeholder {
  color: rgb(255, 246, 207);
  font-size: 1.5rem;
  text-align: center;
}
.input {
  bottom: -30%;
  z-index: 3;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  display: inline-flex;
  gap: 30px;
}
.tip{
  position:absolute;
  font-size: 1.8rem;
  color: rgb(255, 246, 207);
  text-transform: uppercase;
  text-shadow: var(--textShadow);
  font-weight: bolder;
  bottom:-60%;
}

#background {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: -2;
  transition: opacity 0.3s ease-in-out;
  opacity: 1;
}

#background-hidden {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: -2;
  transition: opacity 0.3s ease-in-out;
  opacity: 0;
}
#backgroundOverlay {
  width: 100%;
  height: 100%;
  position: fixed;
  background-image: linear-gradient(
    to bottom,
    #74b4ee,
    #5dc7ec,
    #68d7e0,
    #8ce3cf,
    #b7ecc2,
    #cbeebd,
    #dff0ba,
    #f3f1ba,
    #f6efb6,
    #f9edb2,
    #fceaae,
    #ffe8aa
  );
  z-index: -1;
  object-fit: contain;
  filter: opacity(100%);
  mix-blend-mode: soft-light;
}

.card {
  display: grid;
  align-content: center;
  justify-content: center;
  margin: 0 auto;
  gap: 40px;
  margin: 0 auto;
  width: 400px;
  height: 200px;
  text-transform: uppercase;
  background-color: var(--backgroundColor);
  backdrop-filter: blur(10px);
  border-radius: 1.5rem;
  font-weight: 800;
  border: #f3f1ba solid 4px;
  box-shadow: 4px 4px 40px #ff910088;
}
.card div {
  color: rgb(255, 246, 207);
  font-size: 40px;
  
}
